@model IEnumerable<TrangSucMVC.Views.ViewModels.SanPhamVM>

<div class="sale-products">
    @foreach (var product in Model)
    {
        <div class="d-flex align-items-center justify-content-start">
            <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="~/Hinh/HangHoa/@product.Hinh" class="img-fluid rounded" alt="@product.TenSanPham">
            </div>
            <div>
                <h6 class="mb-2">@product.TenSanPham</h6>
                <div class="d-flex mb-2">
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                    <h5 class="fw-bold me-2">@(product.GiaBan - (product.GiaBan * 2 / 100)) VND</h5>
                    <h5 class="text-danger text-decoration-line-through">@product.GiaBan VND</h5>
                </div>
            </div>
        </div>
    }
</div>
